//parent

#stek-voet {
	color: white;
	font-size: .8em;
	background-color: darken($zijkleur, 15%);
	padding: 50px 0;
	margin-top: 100px;
	ul,li, ol {
		@include ul-li-reset();
	}
	.verpakking {
		margin-bottom: 50px;

		.neg-marge {
			margin: 0 -12.5px;
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			@media (max-width: 900px) {
				flex-direction: column;
				text-align: center;
			}			
			& > * {
				margin: 0 12.5px;
				flex-grow: 0;
				width: calc(33.3% - 25px);
	/* 			&:first-child {
					margin-left: 0;
				}
				&:last-child {
					margin-right: 0;
				} */
			}	
	
		}
	}



}

	#stek-voet .verpakking.widgets {
		margin-bottom: -25px;
		section {
			margin-bottom: 25px;
		}

		.search-form {
			background-color: transparent;
			padding: 0;
			.search-submit {
				margin-top: 10px;
				margin-left: 0;
			}
			label, label input {
				display: block;
			}
		}
		.textwidget {
			ul li{
				list-style-type: disc;
			}
			ol li{
				list-style-type: ideograph-numeric
			}
		}
		select {
			height: 27.2px;
		}
	}

		.footer-section {
			h3 {
				margin-top: 0;
			}
			a, a:active, a:visited {
				color: inherit;
				text-decoration: underline;
			}
			*:last-child {
				margin-bottom: 0;
			}
		}