//parent

#stek-voet {
	color: white;
	font-size: .8em;
	background-color: darken($zijkleur, 15%);
	padding: 50px 0;
	.verpakking {
		display: flex;
		justify-content: space-between;
		@media (max-width: 900px) {
			flex-direction: column;
			text-align: center;
		}
		& > * {
			margin: 0 10px;
			flex-grow: 0;
			&:first-child {
				margin-left: 0;
			}
			&:last-child {
				margin-right: 0;
			}
		}
	}

}
		.footer-section {
			h3 {
				margin-top: 0;
			}
			a, a:active, a:visited {
				color: inherit;
				text-decoration: underline;
			}
			*:last-child {
				margin-bottom: 0;
			}
		}