//parent
html {
	font-size: 16px;
	@media (max-width: 900px) {
		font-size: 12px;
	}
}

.klaar, .float, section, article {
	&::after {
		content: '';
		display: block;
		clear: both;
	}
}


.verpakking{
	margin: 0 auto;
	padding: 0 20px;
	box-sizing: border-box;
	width: 1200px;
	max-width: 100%;
}
	.verpakking-klein {
		width: 760px;
	}

.heeft-padding {
	& > *:first-child {
		margin-top: 0;
	}
	& > *:last-child {
		margin-bottom: 0;
	}
}


.paddingveld {
	padding-top: 50px;
	padding-bottom: 50px;
}

.marginveld {
	margin-top: 50px;
	margin-bottom: 50px;
}

.blok {
	background-color: $wit;
	box-shadow: 0 1px 2px $grijs;
	color: $donkergrijs;
}


ul.reset, ul.reset li {
	@include ul-li-reset();
}

