//parent
#stek-kop {
	background-color: $donkergrijs;
 	width: 100%;
	height: $header-height;
	z-index: 2;
	.rel > .verpakking {
		display: flex;
		justify-content: space-between;
	}
	.rel, .verpakking, [class|='stek-kop'], .horizontaal {
		height: 100%;
	}
	.stek-kop-links {
		flex-basis: 210px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		h1 {
			margin: 0;
		}
	}


	.stek-kop-rechts {
		padding-left: 50px;
		@media (max-width: 600px) {
			padding-left: 20px;
		}
		div, ul {
			height: 100%;
			overflow: hidden;
		}
		li {
			margin-left: 20px;
			&:first-child {
				margin-left: 0
			}
		}
	}

	.custom-logo-link {
		display: block;
		img {
			display: block;
		}
	}

}






