//parent
#stek-kop {
	background-color: $donkergrijs;
 	width: 100%;
	height: 70px;
	z-index: 2;
	.rel > .verpakking {
		display: flex;
		justify-content: space-between;
	}
	.stek-kop-links {
		flex-basis: 210px;

	}


	.stek-kop-rechts {
	}

}






