//parent
.menu, .sub-menu, .menu-item {
	@include ul-li-reset();
}

@mixin kopmenu_letter(){
	padding: 0 .6em;
	display: block;
	line-height: $header-height;
	&:hover {
		text-decoration: none;
	}
}

@mixin heeft_zwarte_linkerstreep() {
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 5px;  
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #404040;
	}	
}

.stek-kop-rechts {
	.menu {
		overflow: visible;
	}
	.menu.horizontaal {
		display: flex;
		align-items: center;
		justify-content: end;
	}
	.menu-item {
		position: relative;
		box-sizing: border-box;
	}
	.menu-item > a {
		@include kopmenu_letter();
	}
	.sub-menu {
		//display: none; 
		z-index: 3;
		right: 0;
		position: absolute;
		box-shadow: 0.5px 0.5px 1px rgba(33, 33, 33, .1);
		transform: translateY(-200%);
	}
	.sub-menu .menu-item a {
		line-height: 1;
		padding: .5em .7em;
		background-color: #f5f5f5;
	}
}
.pagina-geladen .stek-kop-rechts .sub-menu {
	transition: transform 0.2s ease-in-out 0.4s ;
}
	

@media (min-width: 900px) {
	.stek-kop-rechts {
		.menu-item:hover {
			& > a {
				background-color: $hoofdkleur;
				color: white;
			}
		}
		.menu-item-has-children:hover {
			& > a, .sub-menu a { 
				@include heeft_zwarte_linkerstreep();
			}
			.sub-menu {
				//display: block;
				transform: translateY(0);
			}
			.sub-menu .menu-item > a:hover {
				background-color: $hoofdkleur;
				color: white;				
			}			
		}
	}
}

@media (max-width: 900px) {
	.stek-kop-rechts div[class*='menu'] {
		display: none;
		position: absolute;
		width: 100%;
		left: 0;
		z-index: 2;
		top: $header-height;
		overflow: hidden;
		background-color: white;
		padding-top: 20px;
		padding-bottom: 20px;
		.menu {
			&.horizontaal {
				& > li {
					display: block;
					& > a {
						padding: 0 .8em;
					}
					a {
						line-height: 40px;
						padding-top: 0;
						padding-bottom: 0;
					}
				}
			}
			.menu-item-has-children {
				& > a i {
					padding: 0 20px 0 10px;
					//margin-left: 10px;
				}
			}
		}
		li {
			li {
				text-indent: 20px;
				i {
					text-indent: 0;
				}
				li {
					text-indent: 40px;
					i {
						text-indent: 0;
					}
				}
			}
		}
	}

}

.kopmenu-mobiel {

	@include kopmenu_letter();
	display: none;
	margin-right: -20px;
	display: none;
	@media (max-width: 900px) {
		display: block;
	}
	i {
		position: relative;
		top: 2px;
		margin-left: 10px;
	}
}

footer .menu {
	a:hover {
		color: $hoofdkleur;
	}
}