//parent
.menu, .sub-menu, .menu-item {
	@include ul-li-reset();
}

@mixin kopmenu_letter(){
	padding: 0 .6em;
	display: block;
	line-height: $header-height;
	&:hover {
		text-decoration: none;
	}
}

@mixin heeft_zwarte_linkerstreep() {
	position: relative;
	&::before {
		content: '';
		display: block;
		width: 5px;  
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
		background-color: #404040;
	}	
}

.stek-kop-rechts {
	.menu {
		overflow: visible;
	}
	@media screen and (min-width: 900px) {
		.menu.horizontaal {
			display: flex;
			align-items: center;
			justify-content: end;
		}
		.menu-item > a {
			@include kopmenu_letter();
		}
	}
	.menu-item {
		position: relative;
		box-sizing: border-box;
	}
	.sub-menu {
		//display: none; 
		z-index: 3;
		right: 0;
		position: absolute;
		box-shadow: 0.5px 0.5px 1px rgba(33, 33, 33, .1);
		transform: translateY(-200%);
	}
	.sub-menu .menu-item a {
		line-height: 1;
		padding: .5em .7em;
		background-color: #f5f5f5;
	}
}
.pagina-geladen .stek-kop-rechts .sub-menu {
	transition: transform 0.2s ease-in-out 0.4s ;
}

@media (min-width: 900px) {
	.stek-kop-rechts {
		.menu-item:hover {
			& > a {
				background-color: $hoofdkleur;
				color: white;
			}
		}
		.menu-item-has-children:hover {
			& > a, .sub-menu a { 
				@include heeft_zwarte_linkerstreep();
			}
			.sub-menu {
				//display: block;
				transform: translateY(0);
			}
			.sub-menu .menu-item > a:hover {
				background-color: $hoofdkleur;
				color: white;				
			}			
		}
	}
}

@media (max-width: 900px) {
	.menu.klaar-voor-schuiven {
		transition: transform 0.2s ease-in-out 0.4s;
	}
	.menu.omhoog-geschoven {
		transform: translateY(70px);
	}	
	.stek-kop-rechts .sub-menu {
		position: static;
		box-shadow: unset;
		transform: unset;
	}
	.stek-kop-rechts .sub-menu .menu-item a {
		line-height: 1;
		padding: none;
		background-color: transparent;
	}	
	.menu-kop-container {
		display: none;
		position: fixed;
		top: 0;
		left: 0; 
		width: 100%;
		height: 100vh;
		background-color: $hoofdkleur_donker;
		z-index: 1000;
		font-size: 2rem;
	}
	.menu-kop-container .menu {
		display: flex;
		justify-content: space-around;
		align-items: start;
		flex-direction: column;
		width: auto;
		position: fixed;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);	
	}
	.menu-kop-container a {
		color: $wittig;
	}
	.menu-kop-container .mdi {
		display: none !important;
	}
	// .stek-kop-rechts div[class*='menu'] {
	// 	display: none;
	// 	position: absolute;
	// 	width: 100%;
	// 	left: 0;
	// 	z-index: 2;
	// 	top: $header-height;
	// 	overflow: hidden;
	// 	background-color: white;
	// 	padding-top: 20px;
	// 	padding-bottom: 20px;
	// 	.menu {
	// 		.sub-menu {
	// 			display: none;
	// 			width: 100%;
	// 			position: absolute;

	// 		}
	// 	}
	// }
}


.kopmenu-mobiel {

	@include kopmenu_letter();
	display: none;
	margin-right: -20px;
	display: none;
	@media (max-width: 900px) {
		display: block;
	}
	i {
		position: relative;
		top: 2px;
		margin-left: 10px;
	}
}
.mobiele-menu-schakel-open .kopmenu-mobiel {
    position: fixed;
    z-index: 1000;
    top: 10px; 
    right: 40px;
    color: white;

}
footer .menu {
	a:hover {
		color: $hoofdkleur;
	}
}