//parent
.menu {
	@include ul-li-reset();
	ul {
		@include ul-li-reset();
	}
}

.menu#menu-kopmenu {
	overflow: hidden;
	a {
		line-height: $header-height;
		font-family: $kopletter;
		padding: 0 .4em;
		display: block;
		font-family: $kopletter;
		&:hover {
			background-color: $hoofdkleur;
			color: white;
			text-decoration: none;
		}
	}
	.sub-menu {
		a {
			padding: 0.2em .7em;
		}
		li {
			box-sizing: border-box;
		}
	}

	&.horizontaal {
		li {
			display: inline-block;
		}
		& > li {
			& > ul {
				position: absolute;
				bottom: 0;
				left: 0;
				z-index: 3;
				min-width: 100%;
				li {
					display: block;
					min-width: 100%;
					background-color: white;
				}
			}
			&:last-child > ul {
				left: auto;
				right: 0;
			}
		}
	}
	&.met-sub {
		overflow: visible;

		li {
			position: relative;
		} ul {
			display: none;
		}
		& > li > ul {
			position: absolute;
			top: 100%;
			left: 0;
			li, a {
				line-height: 40px;
			}
			li:hover {
				ul {
					display: block;
					right: 100%;
					top: 0;
					position: absolute;
				}
			}

		}
		& > li:hover > ul{
			display: block;
			& > li:hover > ul {
				display: block;
			}
		}
	}
}

footer .menu {
	a:hover {
		color: $hoofdkleur;
	}
}