$rustig_rood: 	#E53C62;
$vlageel: 		#F9E6B1;
$lichtblauw: 	#B5DEE8;
$roze: 			#F7CBCE;
$donkergrijs: 	#616160;

$lichtgrijs: 	#CAC8C8;
$grijs:			#666;
//$donkergrijs: 	#414141;
$zwart: 		#252525;
$ease-out-snel: cubic-bezier(0,0,0,1.28);
$dunlijntje: 1px solid rgba(33, 33, 33, 0.1);


