body .rtb-booking-form{
	form {
		@media (min-width: 900px) {
			display: flex;
			flex-direction: row;
			flex-wrap: wrap;
			justify-content: space-between;
		}
	}
	 fieldset {
		background-color: $viesgeel;
		border: 0;
		padding: .5em 1.5em 1.5em 1.5em;
		margin-bottom: 1em;
		margin-top:-1.5em;
		@media (min-width: 900px) {
    		flex-basis: calc(50% - 1em);
		}
	}
	fieldset>div {
		margin-top: .75em;
		position: relative;
	}

	legend {
		padding: 0;
		font-weight: bold;
		font-size: 1.2rem;
		border-bottom: 4px solid $zwartgroenrood;
		position: relative;
		top: 2em;
		margin-bottom: 1em;
		& + div {
			margin-top: 2em;
		}
	}


	fieldset>div:first-child {
		margin-top: 0;
	}
	label {
		display: block;
		font-weight: bold;
	}
	input {
		width: 100%;
		max-width: 15em;
		border: 0;
	}
	select {
		width: 100%;
		border: 0;
		height: 30px;
		max-width: 15em;
		background-color: white;
	}
	.rtb-checkbox label {
		display: inline;
		&:first-child {
			@extend .knop;
			&:hover {
				cursor: pointer;
			}
		}
		& ~ label {
			display: none;
		}
		&.open {
			display: none;
			& ~ label {
				display: block;
			}
		}

	}
	.rtb-checkbox label ~ label {
		display: none;
	}
	.rtb-checkbox label.open ~ label {
		display: block;
	}
}

.add-message a, .rtb-booking-form button {
	@extend .knop;
	&:hover {
		cursor: pointer;
	}
}
.rtb-booking-form button {
	@extend .in-wit;
	border-radius: 0;
	height: 34px;
	border: 0;
}