.kop-letter,
.kopletter {
  font-family: $kopletter;  
}

.brood-letter,
.broodletter {
  font-family: $broodletter;
}

.accent-letter,
.accentletter {
  font-family: $accentletter;
}

.kleine-letter,
.kleineletter {
  font-family: $kleine_letter;
}

