//parent
.art-c {
	position: relative;
	padding-bottom: 0;
	max-width: 400px;
	&:hover {
		cursor: pointer;
	}
	img {
	}
	& ~ .art-c {
		margin-top: 20px;
	}
	h2, h3 {
		margin-top: 0;
	}
	.art-links {
		a, img {
			display: block;
		}
		img {
			min-height: 200px;
			object-fit: cover;
			width: 100%;
		}
	}
	.art-rechts {
		padding: 20px;
		position: absolute;
		top: 0;
		left: 0;
		p {
			//color: $wit;
			font-weight: 400;
			margin: 0 0 .5em;
			line-height: 1.2;
			font-size: .85em;
			a {
				//color: $wit;
				text-decoration: underline;
			}
			text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	a:hover {
		text-decoration: none;
	}
	h3 {
	//	color: $zijkleur;
		margin-top: 0;
		text-shadow: 1px 1px 1px rgba(0,0,0,0.7);
		text-transform: uppercase;
	}
}

	.art-c.in-lijst {
		display: inline-block;
		width: calc(33% - 10px);
		margin-right: 7px;
		@media (max-width: 900px) {
			width: calc(50% - 10px);
		}
		@media (max-width: 600px) {
			width: 100%
		}
		margin-top: 0;
		margin-bottom: 10px;
		.wp-post-image {
			filter: brightness(80%);
		}
	}