.uitgelichte-afbeelding-buiten {
	position: relative;
	height: calc(50vh + 5em);
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

}
.uitgelichte-afbeelding-buiten.hero {
	height: calc(75vh - 70px); //$header-height
	.uitgelichte-afbeelding-binnen {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		display: flex;
		flex-direction: column;
	}

	h1 {
		margin: 0;
		color: $wittig;
		background-color: $hoofdkleur;
		font-size: 2.5rem;
		padding: .6em 1.2em;
		text-align: center;
		span {
			font-size: .5em;
			font-weight: 400;
			font-family: $broodletter;
			opacity: .8;
		}
		@media(max-width: 600px) {
			font-size: 1.5rem;
		}

	}
	.uitgelichte-afb-knop {
		margin-top: 40px;
		text-align: center;
		.knop {
			font-size: 1.6em;
		}
	}

}

.uitgelichte-afbeelding-buiten + .marginveld.titel-over-afbeelding-indien-aanwezig {
	margin-top: 0;
	h1:first-child {
		margin-top: -2em;
		padding-top: .66em;
		background-color: $achtergrondkleur;
		position: relative;
		&::before, &::after {
			display: block;
			content: '';
			background-color: $achtergrondkleur;
			width:.66em;
			height: 100%;
			position: absolute;
			top: 0;
		}
		&::before {
			right: 100%;
		}
		&::after {
			left: 100%;
		}
	}
}