.uitgelichte-afbeelding-buiten {
	position: relative;
	height: 50vh;
	h1 {
		margin: 0;
		position: absolute;
		left: 20px;
		bottom: 20px;
		color: $vlageel;
		text-shadow: 1px 1px 1px black;
		@media (max-width: 400px) {
			font-size: 24px;
		}
		@media (min-width: 1200px) {
			left: calc(50% - 580px);
		}
		& + * {
			position: absolute;
			right: 20px;
			bottom: 20px;
			@media (min-width: 1200px) {
				right: calc(50% - 580px);
			}
		}
	}
	img {
		display: block;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

}