//parent

#agenda-filter {
	padding: 20px;
	background-color: $hoofdkleur;
	color: white;
	h3 {
		color: white;
		text-transform: capitalize;
		max-width: 225px;
		font-size: 1em;
	}
	& > .flex {
		//justify-content: space-between;
		align-items: flex-end; 
		@media (max-width: 700px) {
			flex-wrap: wrap;
			margin-bottom: -20px;
			align-items: flex-start;
			justify-content: start;
			& > * {
				margin-bottom: 20px;
			}
		}
		@media (max-width: 560px) {
			& > *:last-child { 
				margin-top: 32px; 
			}
		} 
		@media (max-width: 440px) {
			& > * {
				flex-basis: 100%;
				margin-right: 0; 
				margin-bottom: 30px;
				&:last-child {
					margin-top: 0;
				}   
			}
		}

	}
		section {
			margin-right: 40px;
			h3 {
				margin-bottom: 10px;
			}
			flex-direction: column;

		}

		select {
			-webkit-appearance: none;
			appearance: none;
			-moz-appearance: none;
			background-image: url("afb/chevron-down.png");
			background-position: 97% center;
			background-repeat: no-repeat;
			background-size: 20px 20px;
			height: 34px;
			padding-top: 0;
			padding-right: 20px;
			padding-left: 6px;
			transition: color 0.2s ease-in-out;
			border-radius: 1px;
			border: 0;
			font-size: 12px;
			background-color: $wit;
			font-family: $kleine_letter;
			font-weight: bold;
			color: $grijs;
			&.geklikt, &:hover {
				color: $donkergrijs;
			}
			&:hover {
				cursor: pointer;
			}
		}

		[type='submit'] {
			@extend .knop;
			font-size: 1em;
			border: 0;
			border-radius: 0;
			height: calc(2em + 2px);
		}
}

.agenda-address {
	display: inline-flex;
	flex-direction: column;
	margin: 0;
}

.agenda-address__regel {
	color: $donkergrijs;	
	font-weight: bold;
}

.agenda-lijst__wrapper {
	display: flex;
	flex-direction: column;
	background-color: $hoofdkleur_licht;
	padding: 20px;
}

.agenda-lijst, 
.agenda-lijst__stuk {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
.agenda-lijst {
	font-size: 1.25rem;
}

.agenda-lijst__titel, 
.agenda-lijst__datum, 
.agenda-lijst__taxonomie,	
.agenda-lijst__tijd,
.agenda-lijst__rechts > span  { // content
	line-height: 1;
	display: block;
	font-weight: bold;
}
.agenda-lijst__datum {
	font-size: .8em;
	line-height: .8em;
}
.agenda-lijst__taxonomie {
	font-weight: normal
}
.agenda-lijst__titel {
	margin-bottom: .5em;
	display: inline-block;
	word-break: break-word;
}
.agenda-lijst__rechts > span {
	font-weight: 500;
	font-size: .75em;
	line-height: 1.33;
	margin-top: -.15em;
}
.agenda-lijst__stuk {
	border-bottom: $dunlijntje;
	&:last-child {
		border-bottom: 0;
	} 
}

.agenda-lijst__link {
	position: relative;
	&:hover {
		background-color: rgba(0,0,0,0.1)
	}
}
.agenda-lijst__link:hover {
	text-decoration: none;
}
.agenda-lijst__link--pagina {
	display: flex;
	flex-direction: row;
	@media screen and (max-width: 500px) {
		flex-direction: column;
	}
}
 
.agenda-lijst__cel--pagina {
	padding: 10px;
	flex-grow: 0;
}
.agenda-lijst__links--pagina {
	width: 180px;
}

.agenda-lijst__midden--pagina {
	width: 240px;
}

.agenda-lijst__rechts--pagina {
	width: calc(100% - 360px);
}

@media screen and (max-width: 800px) {
	.agenda-lijst__rechts {
		display: none;
	}
}

.single-agenda .bericht-tekst.datum {
	margin-bottom: 0;
}
.agenda-filter-inner-flex {
	display: flex;
  }
  .agenda-filter-inner-flex > * {
	margin-left: 20px;
  }