
//parent
#stek-kop {
	background-color: $wittig;
 	width: 100%;
	//height: $header-height;
	z-index: 4;
	font-size: 1.2rem;
	box-shadow: 0.5px 0.5px 1px rgba(33, 33, 33, .1);
	.rel > .verpakking {
		display: flex;
		justify-content: space-between;
	}
	.rel, .verpakking, [class|='stek-kop'], .horizontaal {
		//height: 100%;
	}
	// logo
	.stek-kop-links {
		flex-basis: 210px; 
		display: flex;
		flex-direction: column;
		justify-content: center;
		h1 { 
			margin: 0;
		}
		@media (max-width: 460px) {
			flex-basis: 120px;
		}
		// logo afknijpen
		.custom-logo-link {
			max-height: 70px;
			object-fit: cover;
			object-position: center;
			overflow: hidden;
		}
	}



	.stek-kop-rechts {
		padding-left: 50px;
		@media (max-width: 600px) {
			padding-left: 20px;
		}
		div, ul {
			//height: 100%;
		}
		li ul li {
			margin-left: 0;
		}
	}

	.custom-logo-link {
		display: block;
		img {
			display: block;
		}
	}

	.geen-logo {
		//font-family: $broodletter;
	}

}






