//parent

$basis_kopletter: 			'PT Serif', serif;
$basis_broodletter: 		'Raleway', sans-serif;
$basis_accentletter: 		'PT Serif', serif;
$basis_kleine_letter: 		'Raleway', sans-serif;

$basis_google_fonts: 		'https://fonts.googleapis.com/css?family=PT+Serif|Raleway';