//parent

$kopletter: 				$basis_kopletter;
$broodletter: 				$basis_broodletter;
$accentletter: 				$basis_accentletter;
$kleine_letter: 			$basis_kleine_letter;

$google_fonts: 				$basis_google_fonts;

