//parent
.agenda-widget-buiten {
	margin-left: -20px;
	width: calc(100% + 40px);
}
.agenda-lijst__wrapper--widget {
	display: block;
	padding: 20px 10px;
}
.agenda-lijst--widget {
	font-size: 1em;
	margin: 1.5em 0;
}
.agenda-lijst__stuk.agenda-lijst__stuk--widget {
	margin-bottom: .5em;
	padding-bottom: .5em;
	&:first-child {
		margin-top: .5em;
		padding-top: .5em;		 
		border-top: $dunlijntje;
	}
}
.agenda-lijst__link.agenda-lijst__link--widget {
	position: relative;
	display: block;
	&::before {
		display: none;
		height: calc(100% + 1em);
		width: 10px;
		background-color: $wittig;
		position: absolute;
		content: '';
		top: -.5em;
		left: -25px;
	}
	&:hover {
		background-color: initial;
	}
	&:hover::before {
		display: block;
	}
}
.agenda-lijst__titel--widget {
	font-size: 1em;
} 
.agenda-lijst__datum--widget, 
.agenda-lijst__tijd--widget {
	font-size: .75em;
}
.agenda-lijst__tijd--widget {
	max-width: 90px;
}
.agenda-lijst__tijd-spacer--widget {
	padding-left: .16em;
	padding-right: .16em;
}