.sticky-widget.widget_nav_menu {
    .menu-item a {
        font-size: 1em;
        font-weight: normal;
        font-family: $kopletter;
        @extend .tekst-zwart; 
    }
    .current-menu-item a {
        color: $hoofdkleur;
        font-weight: bold;
    }  
} 