    .sharedaddy {
    display: none !important;
    // background-color: #EAF4F1;
    width:100%;
    // padding: 15px;
    position: relative;
    // border-top: 3em solid $achtergrondkleur;
    margin: 0 !important;
    &.actief {
        display: block !important;
    }
}
.sd-sharing {
    margin: 0;
    display: block;
}

// specificity gevecht
div.sharedaddy .sd-title { 
    @include sticky_widgettitle();
    
    &::before {
        display: none !important;
    }
}
.share-customize-link {
    display: none;
    position: absolute;
    right: 8px;
    top: 1px;
    font-weight: bold;
    & a::before {
        content: 'admin: ';
    }
}    
.sharedaddy:hover .share-customize-link{
    display: block;
}

.sharedaddy-in-sidebar .sd-content ul li {
    margin: -5px 5px 0px 0;
}