//css krijgt pas effect in main
.main.heeft-sticky {
	position: relative;
}
.sticky-sidebar {
	position: absolute;
	top: 0;
	right: 20px;
	width: 200px;
	height: 100%;
	@media screen and (max-width: 1200px) {
		display: none;
	}
}
main.heeft-uitgelicht .sticky-sidebar {
	top: calc(50vh + 7em); 
	height: calc(100% - (50vh + 5em));
}
main.heeft-uitgelicht.heeft-hero .sticky-sidebar {
	top: calc(75vh - 30px);
	height: calc(100% - (75vh - 30px));
}



.sticky-binnen {
	position: sticky;
	top: 40px;
	bottom: 20px;
	padding: 0 20px 0 20px;
	border-left: 5px solid $hoofdkleur;
	max-height: calc(100% - 40px);
	overflow-y: hidden;
} 

.sticky-widget .widget-title {
	@include sticky_widgettitle();
}
.sticky-widget:first-child {
	h2, h3, .widget-title {
		margin-top: 0;
	}
}
.sticky-widget:last-child {
	margin-bottom: 0;
}