.pag-fam article{
	&.art-c.in-lijst {
		margin-bottom: .5em;

	}
	&.huidige a, a:hover {
		h3 {
			color: $hoofdkleur;
			font-weight: bold;
		}
	}
	h3 {
		font-weight: normal;
	}
	&:first-of-type {
		& ~ article h3 {
			font-size: .75em;
			padding-left: 1.5em;
		}
	}
}

.pag-fam h2 {
	@include sticky_widgettitle();
}