.tekst-wit, 
a.tekst-wit {
	color: 			$wit;
}
.tekst-wittig, 
a.tekst-wittig {
	color: 			$wittig;
}
.tekst-lichtgrijs, 
a.tekst-lichtgrijs {
	color: 			$lichtgrijs;
}
.tekst-grijs, 
a.tekst-grijs {
	color: 			$grijs;
}
.tekst-donkergrijs, 
a.tekst-donkergrijs {
	color: 			$donkergrijs;
}
.tekst-zwart, 
a.tekst-zwart {
	color: 			$zwart;
}
.tekst-hoofdkleur, 
a.tekst-hoofdkleur {
	color: 			$hoofdkleur;
}
.tekst-zijkleur, 
a.tekst-zijkleur {
	color: 			$zijkleur;
}
.tekst-accentkleur, 
a.tekst-accentkleur {
	color: 			$accentkleur;
}
.tekst-hoofdkleur-donker, 
a.tekst-hoofdkleur-donker {
	color: 			$hoofdkleur_donker;
}
.tekst-zijkleur-donker, 
a.tekst-zijkleur-donker {
	color: 			$zijkleur_donker;
}
.tekst-accentkleur-donker, 
a.tekst-accentkleur-donker {
	color: 			$accentkleur_donker;
}

.achtergrond-wit, 
a.achtergrond-wit {
	background-color: 			$wit;
}
.achtergrond-wittig, 
a.achtergrond-wittig {
	background-color: 			$wittig;
}
.achtergrond-lichtgrijs, 
a.achtergrond-lichtgrijs {
	background-color: 			$lichtgrijs;
}
.achtergrond-grijs, 
a.achtergrond-grijs {
	background-color: 			$grijs;
}
.achtergrond-donkergrijs, 
a.achtergrond-donkergrijs {
	background-color: 			$donkergrijs;
}
.achtergrond-zwart, 
a.achtergrond-zwart {
	background-color: 			$zwart;
}
.achtergrond-hoofdkleur, 
a.achtergrond-hoofdkleur {
	background-color: 			$hoofdkleur;
}
.achtergrond-zijkleur, 
a.achtergrond-zijkleur {
	background-color: 			$zijkleur;
}
.achtergrond-accentkleur, 
a.achtergrond-accentkleur {
	background-color: 			$accentkleur;
}
.achtergrond-hoofdkleur-donker, 
a.achtergrond-hoofdkleur-donker {
	background-color: 			$hoofdkleur_donker;
}
.achtergrond-zijkleur-donker, 
a.achtergrond-zijkleur-donker {
	background-color: 			$zijkleur_donker;
}
.achtergrond-accentkleur-donker, 
a.achtergrond-accentkleur-donker {
	background-color: 			$accentkleur_donker;
}